{% extends "fscohort/base.html" %} 

{% block title %}
Student List
{% endblock title %}
    
    
{% block content %}
<ul>
  {% for student in students %}
  <a href="{% url 'detail' student.id %}">
    <li style="font-size: 40px;">{{student}}</li>
  </a>
  {% endfor %}
</ul>
<a href="{% url 'add' %}">
  <button>Add Page</button>
</a>
<div class="pagination">
  <span class="step-links">
      {% if page_obj.has_previous %}
          <a href="?page=1">&laquo; first</a>
          <a href="?page={{ page_obj.previous_page_number }}">previous</a>
      {% endif %}

      <span class="current">
          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
      </span>

      {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}">next</a>
          <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
      {% endif %}
  </span>
</div>
{% endblock content %}
